<serviceBehaviors>
        <behavior name="ApiServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="Intertech.Rem.Portal.UI.User.Api.WebApi.KepServiceAuthorizationManager, Intertech.Rem.Portal.UI.User" />
        </behavior>
        <behavior name="ExternalClientServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="Intertech.Rem.Portal.UI.User.Api.WebApi.KepExternalClientServiceAuthorizationManager, Intertech.Rem.Portal.UI.User" />
        </behavior>
      </serviceBehaviors>
